* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(45deg,#40e0d0,#ff007f, #40e0d0);
  font-family: sans-serif;
}

.about {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 150vh;
  font-size: 30px;
  color: white;
  margin-left: 5%;
  /* margin-right: 5%; */
  gap: 30px;
  margin-top: 5%;
}

.stats{
  display: grid;
  /* flex-wrap: wrap; */
  gap: 40px;
  flex-direction: row;
  justify-content: center;
}

#stats{
display: grid;
justify-content: flex-start;
}
  
.about h1 {
  font-size: 80px;
}

.Picture {
  height: 800px;
  width: 800px;
  object-fit: cover;
  justify-content: center;
  margin-bottom: 10%;
  margin-top: 10%;
  /* margin-left: -10%; */
  /* margin-right: 30%; */
  /* position: fixed; */
}

.split {
  display: flex;
}

.exp {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  height: 100vh;
  font-size: 20px;
  color: white;
  margin-left: 2%;
  margin-right: 5%;
  gap: 30px;
  
}

.split {
  display: flex;
}

.exp h2 {
  /* font-size: 80px; */
  /* margin-top: -10%; */
  display: flex;
  justify-content: flex-start;
  margin-left: -10%;
}

.exp-cards {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  margin-left: 5%;
  gap: 60px;
}

.ee-headings {
  display: flex;
  justify-content: flex-start;
  gap: 15%;
  font-size: 30px;
}

.edu-heading{
margin-left: 8%;
}

.exp-card-1 {
  background: linear-gradient(to top,#40e0d0,#ff007f, #40e0d0);
  box-shadow: 0 8px 32px 0 rgba(41, 170, 15, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border-width: 40px;
  width: 300px;
}

.exp-card-2 {
  background: linear-gradient(to top,#ff007f, #40e0d0);
  box-shadow: 0 8px 32px 0 rgba(41, 170, 15, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border-width: 10px;
  width: 300px;
  height: 300px;
}

.exp-cards h2 h3 {
  gap: 30px;
}

@media only screen and (max-width:550px){
  .Picture-2{
    height: 400px;
    width: 450px;
    margin-left: 10%;
  }
  .split{
    flex-wrap: wrap-reverse;
  }
  .exp-card-1{
    width: 200px;
  }
  .exp-card-2{
    width: 200px;
  }
  .ee-headings{
    gap: 8%;
  }

}

@media only screen and (max-width:550px){
  .Picture{
    height: 400px;
    width: 400px;
    margin-top: 10%;
    margin-left: 10%;
  }
  .split{
    flex-wrap: wrap-reverse;
  }


}