* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.exp {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  font-size: 20px;
  color: white;
  margin-left: 10%;
  margin-right: 5%;
  gap: 30px;
}

.Picture-2 {
  height: 800px;
  width: 900px;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 10%;
  margin-bottom: 10%;
}

.split {
  display: flex;
}

.exp h1 {
  font-size: 80px;
}

.exp-cards {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 50px;
}

.ee-headings {
  display: flex;
  gap: 19%;
  font-size: 30px;
}

.edu-heading{
margin-left: 8%;
}

.exp-card-1 {
  background: rgba(59, 61, 59, 0.95);
  box-shadow: 0 8px 32px 0 rgba(41, 170, 15, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border-width: 40px;
  width: 300px;
}

.exp-card-2 {
  background: rgba(59, 61, 59, 0.95);
  box-shadow: 0 8px 32px 0 rgba(41, 170, 15, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border-width: 10px;
  width: 300px;
}

.exp-cards h2 h3 {
  gap: 30px;
}
