* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --primary-color: white;
}

#about {
  display: flex;
}

.landing {
  display: grid;
  place-items: center;
  color: var(--primary-color);
  height: 100vh;
  background-image: url(../images/2136782.jpg);
  background-size: cover;
  font-family: sans-serif;
}

.headings h1 {
  font-size: 50px;
}

.headings h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.feet{
  margin-bottom: -10%;
}

.headings {
  animation: type 1s steps(47);
  overflow: hidden;
  white-space: nowrap;
  margin-top: 10%;
}
@keyframes type {
  0% {
    width: 0ch;
  }
  100% {
    width: 47ch;
  }
}

@media only screen and (max-width:550px){
  .headings h1{
    font-size: 30px;
  }
  .headings h2{
    font-size: 20px;
  }
}
